---
layout: default
title: newsletter 1
iraiser_url: 'https://don.ordredemaltefrance.org/?cid=9'
titre_article: 'Mobilisés de toutes nos forces, sur tous les fronts de l’urgence'
contenu_markdown: >-
  **Face &agrave; la crise sanitaire et sociale entra&icirc;n&eacute;e par la
  propagation du COVID-19, l’Ordre de Malte France a mobilis&eacute; toutes ses
  forces d&egrave;s le d&eacute;clenchement de la crise sanitaire.&nbsp;**


  A l’international, nos structures hospitali&egrave;res ont mis entre
  parenth&egrave;ses leurs activit&eacute;s non essentielles pour pouvoir faire
  face &agrave; la situation. Le Centre Hospitalier de l’Ordre de Malte (CHOM)
  de Dakar, au S&eacute;n&eacute;gal, a accueilli tout au long de la crise
  plusieurs dizaines de patients, en soutien de l’h&ocirc;pital principal de la
  ville. A l’&icirc;le Maurice, o&ugrave; le confinement a entrain&eacute; de
  graves difficult&eacute;s &eacute;conomiques pour une partie importante de la
  population, les secouristes form&eacute;s par l’Ordre de Malte France ont
  distribu&eacute; des packs de survie sur le terrain et particip&eacute;
  &agrave; la formation des entreprises au d&eacute;confinement.&nbsp;


  &nbsp;


  Nos &eacute;tablissements m&eacute;dico-sociaux et sanitaires ont
  &eacute;t&eacute; plus r&eacute;actifs que jamais et rien n’a
  &eacute;t&eacute; laiss&eacute; au hasard pour prot&eacute;ger les
  r&eacute;sidents. En savoir plus&nbsp;


  **Surtout, d&egrave;s le 15 mars, l’association a r&eacute;orient&eacute; 80%
  de son activit&eacute; vers l’aide aux plus fragiles.** 72 de nos
  d&eacute;l&eacute;gations et UDIOMS sont d&eacute;sormais engag&eacute;es dans
  des actions de soutien aux personnes fragiles, d&eacute;munies, isol&eacute;es
  : maraudes, distributions alimentaires, visites t&eacute;l&eacute;phoniques…
  et bien d’autres initiatives, comme la cr&eacute;ation de Soli’Malte. En
  savoir plus (lien vers page soli’malte).


  **Nous vous expliquons pourquoi \!**


  **Versailles, avril 2020**, **en pleine crise du COVID19**. Une femme est
  assise, seule, l’air un peu absent, sur les marches d’un magasin ferm&eacute;.
  Il est 21h30, la temp&eacute;rature est en train de chuter : on annonce 1
  degr&eacute;. Pourtant, elle ne porte que des v&ecirc;tements et un manteau
  l&eacute;ger, ses pieds sont nus dans de fines chaussures en toile. La maraude
  de l’Ordre de Malte France qui vient &agrave; sa rencontre va lui permettre de
  retrouver un h&eacute;bergement.


  Comme cette femme, bien d’autres personnes sont aujourd’hui dans la
  d&eacute;tresse. &Agrave; la crise sanitaire a succ&eacute;d&eacute; – il
  fallait s’y attendre – une crise sociale durable : nul ne peut en
  pr&eacute;dire la dur&eacute;e ni le terme. Le confinement, mesure
  incontestable en mati&egrave;re de sant&eacute;, a &eacute;t&eacute;
  particuli&egrave;rement difficile pour les personnes &agrave; la rue et pour
  d’autres, toujours plus nombreuses, d&eacute;sormais en situation de
  fragilit&eacute; &eacute;conomique, physique et psychologique. Face &agrave;
  cette urgence, l’Ordre de Malte France a voulu agir, avec une r&eacute;ponse
  adapt&eacute;e &agrave; la nouvelle r&eacute;alit&eacute; du terrain et aux
  besoins sp&eacute;cifiques cr&eacute;&eacute;s par le contexte des derniers
  mois. **D&egrave;s le 15 mars, l’association a r&eacute;orient&eacute; 80% de
  son activit&eacute; vers l’aide aux plus fragiles.**


  **Des pr&eacute;caires toujours plus pr&eacute;caires**


  La crise du COVID-19 a d’abord fragilis&eacute; les structures d’urgence
  habituelles - foyers et centres sociaux, points de distribution de repas et
  v&ecirc;tements, de consultations avanc&eacute;es, douches publiques… 65% des
  associations ont ainsi d&ucirc; &laquo;mettre en sommeil&raquo; leur
  activit&eacute;. Or il s’agit souvent du seul &laquo; filet de
  s&eacute;curit&eacute; &raquo; des personnes sans abri, par ailleurs
  tr&egrave;s isol&eacute;es : &laquo; &Ccedil;a fait des ann&eacute;es que les
  gens sont &agrave; un m&egrave;tre de moi quand ils passent dans la rue… Le
  confinement, &ccedil;a ne change pas grand-chose \!&nbsp;&raquo;, a ainsi
  expliqu&eacute; l’une d’entre elles &agrave; nos
  b&eacute;n&eacute;voles.&nbsp; Si le faible lien qui les relie au
  syst&egrave;me d’urgence vient &agrave; se distendre, elles deviennent
  invisibles, accroissant le nombre des hyper pr&eacute;caires.&nbsp;


  **Une nouvelle forme de fragilit&eacute;**


  Elle a &eacute;merg&eacute; pendant la crise sanitaire, et probablement
  &agrave; long terme : &laquo; ce sont ceux qui ont un domicile fixe mais un
  faible niveau de revenu habituellement, et dont&nbsp; les ressources sont
  amoindries par la crise &eacute;conomique, le ch&ocirc;mage partiel… ils ne
  peuvent plus se nourrir &raquo;, explique Guillaume Romaneix, directeur
  d&eacute;l&eacute;gu&eacute; aux supports d&eacute;l&eacute;gations. Depuis le
  mois d’avril, nos b&eacute;n&eacute;voles t&eacute;moignent qu’ils rencontrent
  - et c’est un fait nouveau - de plus en plus de personnes se nourrissant dans
  les poubelles. &Agrave; Toulon, Monique Rolland, d&eacute;l&eacute;gu&eacute;e
  d&eacute;partementale, s’interrogeait pendant le confinement sur le nombre de
  personnes encore &agrave; la rue, &laquo; alors que trois h&ocirc;tels ont
  &eacute;t&eacute; r&eacute;quisitionn&eacute;s pour l’h&eacute;bergement,
  outre les centres habituels. Chaque semaine, d&egrave;s le d&eacute;but, nous
  avons vu plus de 200 personnes lors de nos maraudes &raquo;.&nbsp;


  **Il faut une r&eacute;ponse adapt&eacute;e \!**


  Ces nouveaux fragiles n’ont pas l’habitude de l’aide d’urgence, il faut donc
  aller vers eux, dans les quartiers identifi&eacute;s comme prioritaires par
  les&nbsp; institutions et associations de tr&egrave;s grande proximit&eacute;,
  qui savent qui et o&ugrave; sont les personnes concern&eacute;es. Pour toutes,
  l’alimentation et l’hygi&egrave;ne sont devenues des enjeux majeurs au
  quotidien.&nbsp; Sans oublier la sant&eacute; : &laquo; L’&eacute;tat physique
  des personnes &agrave; la rue s’est d&eacute;grad&eacute; &agrave; partir de
  fin mars. Nous avons not&eacute; plusieurs d&eacute;c&egrave;s pendant cette
  p&eacute;riode, plus que d’habitude &raquo;, rapporte Thierry Vandamme,
  d&eacute;l&eacute;gu&eacute; du Bas-Rhin.&nbsp;


  **Soli’Malte, un nouveau service d’urgence**


  &laquo; L’association voulait aussi pallier les d&eacute;ficiences de suivi
  m&eacute;dical constat&eacute;es pendant le confinement. D’autant plus que les
  personnes en situation de pr&eacute;carit&eacute; n’osaient plus, pour
  beaucoup, aller &agrave; l’h&ocirc;pital, de peur d’&ecirc;tre
  contamin&eacute;es. Elles restaient du coup avec leur(s) pathologie(s) ou
  accumulaient des probl&egrave;mes de sant&eacute; &raquo;, d&eacute;taille
  Guillaume Romaneix. &laquo; Pour toutes ces raisons, la Maison a voulu
  r&eacute;unir ses savoir-faire pour les projeter au plus pr&egrave;s des
  personnes fragiles, l&agrave; o&ugrave; elles sont &raquo;. Ainsi est
  n&eacute; le dispositif &laquo; Soli’Malte &raquo;, un nouveau service
  d’urgence de rue. L’id&eacute;e : apporter une assistance &agrave; la fois
  alimentaire, sanitaire (avec un personnel de sant&eacute; ou un secouriste
  prenant les constantes, assurant les premiers soins et transmettant un bilan
  aux services m&eacute;dicaux d’urgence, et la remise de kits
  hygi&eacute;niques) et enfin sociale, psychologique et/ou spirituelle.&nbsp;


  **Mise en œuvre**


  Des liens ont &eacute;t&eacute; &eacute;tablis avec nos partenaires habituels
  et de nouveaux pour obtenir des produits alimentaires et d’hygi&egrave;ne. Et
  des d&eacute;marches locales permettent aussi de r&eacute;cup&eacute;rer les
  invendus des magasins. Le projet a &eacute;t&eacute; lanc&eacute; dans treize
  grandes villes : Bourges, Toulouse, Bordeaux, Montpellier, Nantes, Lille,
  Strasbourg, Lyon, Versailles, Colmar, Mulhouse, Paris et Toulon, en modulant
  le format selon les sp&eacute;cificit&eacute;s locales et en
  s’int&eacute;grant dans le tissu associatif local.&nbsp;


  **Une utilit&eacute; toujours d’actualit&eacute;**


  &laquo; Au cours de cette p&eacute;riode, les demandes des personnes
  pr&eacute;caires ont chang&eacute;, explique encore Thierry Vandamme. Certes,
  pendant le confinement, &agrave; Strasbourg, beaucoup ont &eacute;t&eacute;
  log&eacute;es &agrave; l’h&ocirc;tel et &eacute;taient nourries deux fois par
  jour. Mais d&egrave;s le 11 mai, elles ont &eacute;t&eacute; remises &agrave;
  la rue, alors que les associations comme les Restos du Cœur n’ont pas pu
  rouvrir tout de suite. Nous avons donc continu&eacute; &agrave;
  pr&eacute;parer des colis alimentaires et &agrave; les distribuer au cours de
  nos maraudes. Malgr&eacute; la fin du confinement, le dispositif Soli’Malte
  est toujours adapt&eacute; &raquo;. D’autant plus que l’int&eacute;r&ecirc;t
  de la pr&eacute;sence syst&eacute;matique d’un secouriste a &eacute;t&eacute;
  constat&eacute; partout : pouvoir v&eacute;rifier de mani&egrave;re quasi
  professionnelle les d&eacute;tresses vitales av&eacute;r&eacute;es et
  transmettre un bilan pr&eacute;cis au m&eacute;decin de la r&eacute;gulation
  du Samu en cas de probl&egrave;me, peut permettre le d&eacute;clenchement d’un
  v&eacute;hicule de secours si besoin et sauver des vies.&nbsp;


  **T&eacute;moignage de Barth&eacute;l&eacute;my Gindre, b&eacute;n&eacute;vole
  &agrave; Boulogne-Billancourt**


  &laquo; Ce soir-l&agrave;, notre &eacute;quipe compos&eacute;e de deux
  maraudeurs et un secouriste est partie vers 20h30 pour l’une des
  premi&egrave;res maraudes Soli’Malte. Les personnes rencontr&eacute;es
  appr&eacute;cient particuli&egrave;rement la prise en charge par un
  secouriste, ne serait-ce que pour une prise de temp&eacute;rature et de
  saturation. Ces gestes simples leur donnent l’assurance que l'on se soucie de
  leur sant&eacute; – et donc de leur vie - en cette p&eacute;riode o&ugrave; le
  sujet est sur toutes les l&egrave;vres. La majorit&eacute; se porte bien, mais
  tous sont soulag&eacute;s qu’un secouriste leur confirme leur bon &eacute;tat
  de sant&eacute;. Cette premi&egrave;re maraude Soli’Malte a montr&eacute;
  l'int&eacute;r&ecirc;t de d&eacute;ployer en m&ecirc;me temps l'ensemble des
  comp&eacute;tences maltaises : aide alimentaire, distribution de produits
  d'hygi&egrave;ne, &eacute;coute, soutien social, prises de temp&eacute;rature
  et de saturation en oxyg&egrave;ne &raquo;.&nbsp;
date_article: 26.05.2020
heure_article: 8H00
_options:
  contenu_markdown:
    format: p h1 h2 h3 h4 h5 h6 pre address div
    bold: true
    italic: true
    removeformat: true
    link: true
    numberedlist: true
    embed: true
    image: true
    blockquote: true
---

{%- include progress-bar.html -%}

<div class="home-mobile d-md-none">
	<nav class="pl-3 pr-3 pt-2 pb-2">
		<div class="row">
			<div class="col-6">
				<img class="logo-mobile" src="{{ "/assets/img/logo.png" | relative_url }}" alt="logo" />
			</div>
			<div class="col-6 text-right">
				<a class="btn btn-don" href="{{ page.iraiser_url }}" role="button">JE FAIS UN DON</a>
			</div>
		</div>
	</nav>
	<!-- ACTU BAR -->
	<div class="actu-bar index">
		<div class="actu-links">
			<a href="https://covid19.ordredemaltefrance.org/">Actualités</a>
			<a href="https://covid19.ordredemaltefrance.org/solimalte"><img src="{{ 'assets/img/solimalte/actu-soli.png' | relative_url }}" />
				<br class="only-xs" />: NOTRE RÉPONSE GLOBALE POUR FAIRE FACE À LA CRISE
				SANITAIRE</a>
		</div>
	</div>
	<!-- ACTU BAR -->
	<!-- HEADER WITH VIDEO -->
	<header class="header">
		<h1 class="header-title">
			AUJOURD’HUI PLUS QUE JAMAIS, RÉPONDONS ENSEMBLE À L’URGENCE DE LA SOLIDARITÉ
		</h1>
		<div class="header-btn-container">
			<img class="btn-play" src="{{ "assets/img/btn-play.png" | relative_url }}" alt="play" />
		</div>
		<iframe class="header-video" width="560" height="315" src="https://www.youtube.com/embed/-TCNwWfZWGU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</header>
	<section class="bandeau-president">
		<div class="ml-0 ml-md-3">
			<img src="{{ "assets/img/president.png" | relative_url }}" alt="president" />
		</div>
		<p class="president-text">
			<span class="text-bold text-condensed">Jean-Baptiste Favatier,</span> Président de
			l’Ordre de Malte France
		</p>
	</section>
	<!-- HEADER WITH VIDEO -->
	<div class="bandeau-covid">
		<p class="text-center">
			COVID-19* - Dernière mise à jour
			<span>{{ page.last_modified_at | date: '%d/%m/%y %H:%M' }}</span>
		</p>
	</div>
	<section class="posts">
		<article class="post">
			<div class="post-publication-time">
				<span>{{ page.date_article }}
				    <small>{{ page.heure_article }}</small>
				</span>
			</div>
			<h1 class="post-title text-uppercase">{{ page.titre_article }}</h1>
			<div class="post-content">
			    {% if page.contenu_markdown %}
                  {{ page.contenu_markdown | markdownify }}
                {% endif %}
			</div>
		</article>
	
	</section>
</div>


<div class="home d-none d-md-block">
	<aside class="left-menu">
		<div class="left-container">
			<div>
				<img class="logo mb-5" src="{{ "/assets/img/logo.png" | relative_url }}" alt="logo" />
			</div>
			<p class="ensemble text-center">
				<span class="text-bold">Ensemble, + forts contre le COVID-19.</span>
				<br />
				<small>Pour faire face et prendre soin des plus fragiles, je suis solidaire.</small>
			</p>
			<a class="btn btn-don mb-3 mt-1" href="{{ page.iraiser_url }}" role="button">JE FAIS UN DON</a>
			<p class="remise">
				75% du montant de mon don sont déductibles de l'Impôt sur le Revenu, dans la limite
				de 20% du revenu net imposable.
			</p>
		</div>
	</aside>
	<div class="content">
		<!-- ACTU BAR -->
		<div class="actu-bar index">
			<div class="actu-links">
				<a href="https://covid19.ordredemaltefrance.org/">Actualités</a>
				<a href="https://covid19.ordredemaltefrance.org/solimalte"><img src="{{ 'assets/img/solimalte/actu-soli.png' | relative_url }}" />
					<br class="only-xs" />: NOTRE RÉPONSE GLOBALE POUR FAIRE FACE À LA CRISE
					SANITAIRE</a>
			</div>
		</div>
		<!-- ACTU BAR -->
		<!-- HEADER WITH VIDEO -->
		<header class="header desktop">
			<h1 class="header-title">
				AUJOURD’HUI PLUS QUE JAMAIS, RÉPONDONS ENSEMBLE À L’URGENCE DE LA SOLIDARITÉ
			</h1>
			<div class="header-btn-container">
				<img class="btn-play" src="{{ "assets/img/btn-play.png" | relative_url }}" alt="play" />
			</div>
			<iframe class="header-video" width="560" height="315" src="https://www.youtube.com/embed/-TCNwWfZWGU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</header>
		<section class="bandeau-president">
			<div class="ml-0 ml-md-3">
				<img src="{{ "assets/img/president.png" | relative_url }}" alt="president" />
			</div>
			<p class="president-text">
				<span class="text-bold text-condensed">Jean-Baptiste Favatier,</span> Président de
				l’Ordre de Malte France
			</p>
		</section>
		<!-- HEADER WITH VIDEO -->
		<div class="blog">
			<p class="covid-19 text-bold">COVID-19</p>
			<p class="last-update">
				Dernière mise à jour
				<span class="last-update-time text-condensed">26.05.2020</span>
			</p>
			<section class="posts">
				<article class="post pb-5">

					<h1 class="post-title text-uppercase">{{ page.titre_article }}</h1>
					<div class="post-content">
					    {% if page.contenu_markdown %}
                          {{ page.contenu_markdown | markdownify }}
                        {% endif %}
					</div>
				
					<div class="post-publication-time">
						<b>{{ page.date_article }}</b><br />
						<small>{{ page.heure_article }}</small>
					</div>
				</article>
			</section>
		</div>
	</div>
</div>
