---
layout: default
title: newsletter 2
iraiser_url: 'https://don.ordredemaltefrance.org/?cid=9'
titre_article: 'Plus que jamais, prendre soin de nos aînés'
contenu_markdown: >-
  **A travers les t&eacute;moignages en direct des EHPAD g&eacute;r&eacute;s par
  l’Ordre de Malte France, d&eacute;couvrez les nombreuses initiatives
  d&eacute;ploy&eacute;es par nos &eacute;quipes, au plus fort de la crise et du
  confinement, pour prot&eacute;ger nos a&icirc;n&eacute;s d&eacute;j&agrave;
  fragiles, assurer leur bien-&ecirc;tre et rompre autant que possible les
  effets de l’isolement.**


  **![](/uploads/unnamed &#40;15&#41;.jpg){: width="508" height="677"}NOS JEUNES
  EN PREMI&Egrave;RE LIGNE EN BRETAGNE CENTRE VAL-DE-LOIRE**


  ![](/uploads/unnamed-15.jpg){: .w-25 .float-md-left}Les Jeunes de l’Ordre
  de Malte France ont voulu aider les r&eacute;sidents des &eacute;tablissements
  m&eacute;dico-sociaux g&eacute;r&eacute;s par l’Ordre de Malte France &agrave;
  garder le moral pendant le confinement. Plus de 250 de ces r&eacute;sidents
  ont ainsi re&ccedil;u quotidiennement ou presque une lettre, une carte, un
  montage photo, un dessin…, &laquo;&nbsp;*comme un petit rayon de soleil qui
  venait illuminer leur journ&eacute;e*&nbsp;&raquo;, explique Armand de Vial,
  D&eacute;l&eacute;gu&eacute; des Jeunes &agrave; l’origine du projet.&nbsp;


  **UDIOM13**


  &Agrave; **Marseille**, nos secouristes ont rempli leur mission d’aide
  &agrave; la population, en faisant des courses et des achats de
  premi&egrave;re n&eacute;cessit&eacute; pour des personnes &acirc;g&eacute;es
  isol&eacute;es. &laquo;&nbsp;*Les b&eacute;n&eacute;ficiaires ont
  &eacute;t&eacute; tr&egrave;s touch&eacute;s par cette aide qui leur a permis
  de rester en confinement et d’assurer ainsi leur
  s&eacute;curit&eacute;*&nbsp;&raquo;, t&eacute;moigne un
  b&eacute;n&eacute;vole.


  **R&Eacute;GION SUD-OUEST**


  Op&eacute;ration &laquo; Anges Gardiens &raquo; &agrave; **Bordeaux**&nbsp;\!
  Ce dispositif in&eacute;dit de sas d’accueil sanitaris&eacute; a
  &eacute;t&eacute; mis en place &agrave; l’entr&eacute;e des EHPAD de Gironde
  par l’Agence R&eacute;gionale de Sant&eacute; (ARS) de Nouvelle-Aquitaine,
  pour renforcer la protection des r&eacute;sidents et du personnel, &agrave;
  partir du moment o&ugrave; les visites des familles ont &agrave; nouveau
  &eacute;t&eacute; autoris&eacute;es (20 avril). Une dizaine de
  b&eacute;n&eacute;voles de l’Ordre de Malte France ont ainsi &eacute;t&eacute;
  mobilis&eacute;s, dans des tentes install&eacute;es aux portes d’un
  &eacute;tablissement de Bordeaux**,** pour surveiller la temp&eacute;rature de
  toutes les personnes entrantes et leur (re)dire les gestes barri&egrave;res et
  les mesures de pr&eacute;caution &agrave; suivre.


  **NORD**


  Dans l’**Oise**, &laquo;&nbsp;*du fait du confinement, et malgr&eacute;
  l’extraordinaire d&eacute;vouement du personnel hospitalier, les familles ne
  pouvant plus visiter leurs proches, les patients des h&ocirc;pitaux et les
  r&eacute;sidents des EHPAD manquaient cruellement de gels douche, shampooings,
  savons, dentifrices, rasoirs jetables… Nous avons donc collect&eacute; plus de
  4 000 lots de produits de toilette, gr&acirc;ce &agrave; la
  g&eacute;n&eacute;rosit&eacute; des entreprises et particuliers
  sollicit&eacute;s. Les b&eacute;n&eacute;voles de l’UDIOM60 ont ensuite
  assur&eacute; la distribution*&nbsp;&raquo;, explique le
  d&eacute;l&eacute;gu&eacute;, Hubert de V&eacute;sian.


  **ILE-DE-FRANCE**


  Xavier Lenoir de La Cocheti&egrave;re, m&eacute;decin coordinateur de l’EHPAD
  Maison Ferrari (**Clamart**), salue l’implication du directeur et des
  personnels. Gr&acirc;ce &agrave; eux, *&laquo; une* *dynamique collective \[a
  vu le jour\], associ&eacute;e &agrave; la mise en place de r&eacute;unions
  d’information, de sensibilisation et de motivation pluri-hebdomadaires pour
  les salari&eacute;s. Tous ont accept&eacute; des changements d’horaires, \[la
  nuit y compris\]* *&raquo;.*&nbsp;


  A la MAS Saint Jean de Malte (**Paris**), les personnes porteuses de handicap
  sont rest&eacute;es connect&eacute;es &agrave; leurs proches gr&acirc;ce
  &agrave; l’application &laquo; ma r&eacute;sidence &raquo;. Les
  salari&eacute;s y postaient r&eacute;guli&egrave;rement des messages et des
  photos, que les familles pouvaient lire et commenter.
  &laquo;&nbsp;*Maintenir&nbsp; une relation affective et relationnelle avec les
  familles &eacute;tait vitale pour les r&eacute;sidents*&nbsp;&raquo;,&nbsp;
  selon la directrice Doris Berdugo. &laquo;&nbsp;*La d&eacute;pendance
  permanente des personnes handicap&eacute;es fait que le lien avec les parents
  n’est jamais distendu. La rupture &eacute;tait donc tr&egrave;s violente pour
  certains, il fallait absolument trouver des solutions. &Agrave; chaque
  anniversaire, par exemple, on appelait la famille sur whatsapp et on soufflait
  les bougies en visio &raquo;.*&nbsp;


  **R&Eacute;GION RH&Ocirc;NE-ALPES**


  L’&Eacute;tablissement d’H&eacute;bergement de Personnes &Acirc;g&eacute;es
  D&eacute;pendantes (EHPAD) Saint Paul (**Saint-&Eacute;tienne**) a tout mis en
  œuvre pour le bien-&ecirc;tre de ses 190 r&eacute;sidents. Pour leur donner un
  peu d’autonomie malgr&eacute; l’isolement, une &laquo; petite &eacute;picerie
  &raquo; a &eacute;t&eacute; mise en place : ils avaient la possibilit&eacute;
  d’acheter/commander diverses denr&eacute;es, alimentaires ou non, qui leur
  &eacute;taient distribu&eacute;es apr&egrave;s une journ&eacute;e en salle de
  d&eacute;sinfection. Merci aux b&eacute;n&eacute;voles de l’UDIOM42, qui ont
  achet&eacute; les produits, les ont tri&eacute;s et livr&eacute;s.
date_article: 26.05.2020
heure_article: 8H00
_options:
  contenu_markdown:
    format: p h1 h2 h3 h4 h5 h6 pre address div
    bold: true
    italic: true
    removeformat: true
    link: true
    numberedlist: true
    embed: true
    image: true
    blockquote: true
---

{%- include progress-bar.html -%}

<div class="home-mobile d-md-none">
	<nav class="pl-3 pr-3 pt-2 pb-2">
		<div class="row">
			<div class="col-6">
				<img class="logo-mobile" src="{{ "/assets/img/logo.png" | relative_url }}" alt="logo" />
			</div>
			<div class="col-6 text-right">
				<a class="btn btn-don" href="{{ page.iraiser_url }}" role="button">JE FAIS UN DON</a>
			</div>
		</div>
	</nav>
	<!-- ACTU BAR -->
	<div class="actu-bar index">
		<div class="actu-links">
			<a href="https://covid19.ordredemaltefrance.org/">Actualités</a>
			<a href="https://covid19.ordredemaltefrance.org/solimalte"><img src="{{ 'assets/img/solimalte/actu-soli.png' | relative_url }}" />
				<br class="only-xs" />: NOTRE RÉPONSE GLOBALE POUR FAIRE FACE À LA CRISE
				SANITAIRE</a>
		</div>
	</div>
	<!-- ACTU BAR -->
	<!-- HEADER WITH VIDEO -->
	<header class="header">
		<h1 class="header-title text-uppercase">
			{{ page.titre_article }}
		</h1>
	</header>
	<!-- HEADER WITH VIDEO -->
	<div class="bandeau-covid">
		<p class="text-center">
			COVID-19 - Dernière mise à jour
			<span>{{ page.last_modified_at | date: '%d/%m/%y %H:%M' }}</span>
		</p>
	</div>
	<section class="posts">
		<article class="post">
			<div class="post-publication-time">
				<span>{{ page.date_article }}
				    <small>{{ page.heure_article }}</small>
				</span>
			</div>
			<div class="post-content">
			    {% if page.contenu_markdown %}
                  {{ page.contenu_markdown | markdownify }}
                {% endif %}
			</div>
		</article>
	
	</section>
</div>


<div class="home d-none d-md-block">
	<aside class="left-menu">
		<div class="left-container">
			<div>
				<img class="logo mb-5" src="{{ "/assets/img/logo.png" | relative_url }}" alt="logo" />
			</div>
			<p class="ensemble text-center">
				<span class="text-bold">Ensemble, + forts contre le COVID-19.</span>
				<br />
				<small>Pour faire face et prendre soin des plus fragiles, je suis solidaire.</small>
			</p>
			<a class="btn btn-don mb-3 mt-1" href="{{ page.iraiser_url }}" role="button">JE FAIS UN DON</a>
			<p class="remise">
				75% du montant de mon don sont déductibles de l'Impôt sur le Revenu, dans la limite
				de 20% du revenu net imposable.
			</p>
		</div>
	</aside>
	<div class="content">
		<!-- ACTU BAR -->
		<div class="actu-bar index">
			<div class="actu-links">
				<a href="https://covid19.ordredemaltefrance.org/">Actualités</a>
				<a href="https://covid19.ordredemaltefrance.org/solimalte"><img src="{{ 'assets/img/solimalte/actu-soli.png' | relative_url }}" />
					<br class="only-xs" />: NOTRE RÉPONSE GLOBALE POUR FAIRE FACE À LA CRISE
					SANITAIRE</a>
			</div>
		</div>
		<!-- ACTU BAR -->
		<!-- HEADER WITH VIDEO -->
		<header class="header desktop">
			<h1 class="header-title text-uppercase">
				{{ page.titre_article }}
			</h1>
		</header>

		<div class="blog">
			<p class="covid-19 text-bold">COVID-19</p>
			<p class="last-update">
				Dernière mise à jour
				<span class="last-update-time text-condensed">26.05.2020</span>
			</p>
			<section class="posts">
				<article class="post pb-5" style="padding: 20px">
					<div class="post-content">
					    {% if page.contenu_markdown %}
                          {{ page.contenu_markdown | markdownify }}
                        {% endif %}
					</div>
				</article>
			</section>
			
		</div>

	</div>
</div>
