@charset "utf-8";

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Roboto", sans-serif;

$leftMenuWidth: 300px;
$red: #e2001a;
$blue: #354253;
$transitionSpeed: 0.4s;

body {
	background: $backgroundColor;
	color: $bodyColor;
	font-family: $bodyFont;
}

.btn-don {
	color: #fff;
	border-color: $red;
	background-color: $red;
	border-radius: 8px;
	width: 100%;
	font-weight: bold;
	padding: 7px 0;
	border: 1px solid transparent;
	letter-spacing: 0.01rem;
	font-family: "Roboto Condensed", sans-serif;
}

.text-bold {
	font-weight: bold;
}

.text-condensed {
	letter-spacing: 0.01rem;
}

.left-menu {
	background-color: #f8f8f8;
	position: fixed;
	left: 0;
	top: 0;
	padding: 20px;
	height: 100vh;
	width: $leftMenuWidth;

	& > .row {
		height: 100%;
	}

	.left-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;

		.mb-5 {
			margin-bottom: 10rem !important;
		}
	}

	.ensemble {
		font-size: 20px;
		color: #354253;
		line-height: 1.2;
	}

	.remise {
		font-size: 13px;
		text-align: center;
		color: #354253;
	}
}

.content {
	padding-left: $leftMenuWidth;

	.actu-bar.index {
		background-color: $blue;

		.actu-links {
			color: $white;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 100%;
			//padding: 5px 10px;
			margin-bottom: 0;

			a {
				color: $white;
				text-transform: uppercase;
				font-size: 14px;
				padding: 10px 20px;

				&:first-child {
					background-color: $blue;
				}

				&:nth-child(2) {
					background-color: #293443;
					width: 100%;
					color: rgba(255, 255, 255, 0.5);
					// opacity: 0.5;

					img {
						margin-bottom: 6px;
						margin-top: 6px;
						margin-right: 5px;
					}

					br.only-xs {
						display: none;
					}
				}
			}
		}
	}

	.header {
		background-color: black;
		padding: 100px 20px;
		text-align: center;

		.header-title {
			color: white;
			font-size: 40px;
			font-weight: bold;
			text-align: center;
		}

		.header-btn-container {
			text-align: center;

			img {
				cursor: pointer;
			}
		}

		.header-video {
			display: none;
		}
	}
	.bandeau-president {
		background-color: $blue;
		display: flex;
		padding: 40px 15px;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		
		.president-text {
			font-size: 14px;
			font-family: "Roboto Condensed", sans-serif;
			width: 100%;
			color: white;
			margin: 0 15px;
		}
	}

	.blog {
		color: #000000;
		position: relative;

		.covid-19 {
			display: inline-block;
			background-color: $red;
			color: #ffffff;
			position: absolute;
			left: 0;
			top: 0;
			font-size: 50px;
			padding: 0 20px;
			font-family: "Roboto Condensed", sans-serif;
		}

		.last-update {
			display: inline-block;
			color: $blue;
			position: absolute;
			right: 0;
			top: 0;
			font-size: 14px;
			padding: 5px;
		}

		.last-update-time {
			font-size: 20px;
			color: $red;
			font-family: "Roboto Condensed", sans-serif;
			padding-left: 0.6rem;
		}

		.posts {
			padding: 95px 20px 20px 20px;

			.post {
				position: relative;
				padding: 20px 150px 0 20px;

				.post-publication-time {
					background: url("/assets/img/background-publication-time.png");
					height: 48px;
					width: 112px;
					padding-top: 8px;
					padding-left: 23px;
					position: absolute;
					right: -20px;
					top: 23px;
					line-height: 1;
				}

				&.urgence .post-publication-time {
					background: url("/assets/img/background-publication-time-red.png");
					color: #fff;
				}

				.post-title {
					font-weight: bold;
					font-size: 22px;
					color: $blue;
				}

				&.urgence .post-title {
					color: $red;
				}

				.post-content {
					font-size: 16px;
					color: $blue;
				}
			}
		}
	}
}



















// ################ Mobile

.home-mobile {
	padding-top: 90px;

	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #fff;

		z-index: 1;

		.logo-mobile {
			height: 50px;
		}

		.btn-don {
			margin-top: 5px;
		}
	}

	.actu-bar.index {
		background-color: $blue;

		.actu-links {
			color: $white;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			width: 100%;
			//padding: 5px 10px;
			margin-bottom: 0;

			a {
				color: $white;
				text-transform: uppercase;
				font-size: 14px;
				padding: 10px 20px;

				&:first-child {
					background-color: $blue;
				}

				&:nth-child(2) {
					background-color: #293443;
					width: 100%;
					color: rgba(255, 255, 255, 0.5);
					// opacity: 0.5;

					img {
						margin-bottom: 6px;
						margin-top: 6px;
						margin-right: 5px;
					}

					br.only-xs {
						display: none;
					}
				}
			}
		}
	}

	@include media-breakpoint-down(xs) {
		.actu-bar.index .actu-links a:nth-child(2) br.only-xs {
			display: block;
		}
	}

	.header {
		background-color: black;
		padding: 60px 10px;
		text-align: center;

		.header-title {
			color: white;
			font-size: 36px;
			font-weight: bold;
			text-align: center;
		}

		.header-btn-container {
			text-align: center;

			img {
				cursor: pointer;
			}
		}

		.header-video {
			display: none;
		}
	}
	.bandeau-president {
		background-color: $blue;
		display: flex;
		padding: 40px 15px;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		
		.president-text {
			font-size: 14px;
			font-family: "Roboto Condensed", sans-serif;
			width: 100%;
			color: white;
			margin: 0 15px;
		}
	}

	.bandeau-covid {
		background-color: $red;

		p {
			font-size: 12px;
			font-weight: bold;
			color: #fff;
			padding: 5px;
		}
	}

	.posts {
		padding: 10px;

		.post {
			margin-bottom: 40px;

			.post-publication-time {
				margin: 10px 0;

				span {
					background-color: rgba(53, 66, 83, 0.1);
					color: #000;
					padding: 5px;
				}
			}

			&.urgence .post-publication-time {
				span {
					background-color: $red;
					color: #fff;
				}
			}
			.post-title {
				font-weight: bold;
				font-size: 22px;
				color: $blue;
			}

			&.urgence .post-title {
				color: $red;
			}

			.post-content {
				font-size: 16px;
				color: $blue;
				padding-left: 15px;
				border-left: 5px dotted $blue;
			}

			&.urgence .post-content {
				border-left: 5px dotted $red;
			}
		}
	}
}

@import "./_cross.scss";

@import "./solimalte.scss";
