<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr" }}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet"> 
</head>
<body>
	{{ content}}
	<script type="application/javascript" src="{{ "/assets/js/script.js" | relative_url }}"></script>
</body>
</html>
